@model IEnumerable<Product>

<h2>Products List</h2>

<h3>List View</h3>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name - @product.Price.ToString("C") (@product.CreatedDate.ToString("dd/MM/yyyy"))</li>
    }
</ul>

<h3>Table View</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.CreatedDate.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>